[submodule "thirdparty/zenoh-pico"]
	path = thirdparty/zenoh-pico
	url = https://github.com/wheelbot-tech/zenoh-pico.git
	branch = fix/zenoh-pico-issue-1103
[submodule "thirdparty/Micro-CDR"]
	path = thirdparty/Micro-CDR
	url = https://github.com/eProsima/Micro-CDR
[submodule "tools/type-gen/rosidl"]
	path = tools/type-gen/rosidl
	url = https://github.com/ros2/rosidl.git
